@import "tailwindcss";

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card-img-container {
  position: relative;
  margin: 2px;
  
}
.card-overlay {
  position: absolute;
  top: 4px;
  left: 0px;
  right: 0px;
  display: none;
}

.card-img-container:hover .card-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.details {
/* border: 1px solid white; */

  background-color:rgba(0, 0, 0, 0.5);
  width:100px
  height: 100px;
}


.boxShad{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.boxShad2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(50, 50, 90, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}